{% extends "layout.html" %} {% block header %}
<h1 class="text-2xl font-extrabold">{% block title %}Home{% endblock %}</h1>
{% endblock %} {% block content %}
<p class="text-base text-neutral-700 font-serif">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
  recusandae, maiores ipsum, deserunt rerum quisquam explicabo consequatur id
  totam dicta beatae neque ab nemo dignissimos placeat veniam! Vitae mollitia id
  consequuntur harum atque quae voluptate aut voluptates maxime, quasi iste
  minus molestias est explicabo beatae modi quis nemo, ullam sequi ex earum?
  Consequuntur iure repellat itaque placeat ab fuga consectetur molestias
  consequatur, nemo excepturi reprehenderit tempora, numquam deserunt eos
  voluptates tempore animi molestiae delectus sunt aliquam praesentium libero
  adipisci officia. Veniam eveniet quae error odit, velit praesentium dolore
  voluptate beatae blanditiis eligendi nostrum ad fugiat soluta ipsum vel quis
  accusamus!
</p>
{% endblock %}
