{% extends "layout.html" %} {% block header %}
<h1 class="text-2xl font-mono font-medium">
  {% block title %}Home{% endblock %}
</h1>
{% endblock %} {% block content %}
<p class="text-base font-serif font-light text-neutral-800">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, vel quia odit
  ipsum nesciunt assumenda corrupti eligendi minima quas expedita odio magnam
  reprehenderit facilis voluptate ducimus eum illo sunt officiis deserunt cumque
  dolores natus voluptatem nisi! Explicabo assumenda voluptatem beatae fugit
  officia nemo facilis deleniti vel itaque dolorum obcaecati voluptatum optio
  laudantium sed quaerat, sint fuga! Placeat, dignissimos omnis. Maxime optio
  porro harum, modi unde voluptatibus minus architecto ipsum atque temporibus.
  Soluta repudiandae dolorum perferendis eaque culpa quaerat omnis blanditiis ab
  laboriosam delectus eligendi modi amet possimus inventore alias nostrum minima
  consequuntur similique accusamus natus officiis, numquam exercitationem!
  Cumque, ex?
</p>
{% endblock %}
